//colours

@background-colour: black;

@star-colour: white;

@snow-colour-light: #FFF8F8;
@snow-colour-dark: #343434;


// sizes

@max-width: 1920px;
@max-height: 1080px;
@min-width: 800px;
@min-height: 600px;
@ground-height: 25%;

* {
    white-space: nowrap;
}


html {
    background-color: @background-colour;
    height: 100%;

}


body {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;
    min-height: @min-height;
    min-width: @min-width;
    max-width: @max-width;
    max-height: @max-height;

    overflow: hidden;

    background-image: linear-gradient(0deg, @snow-colour-light, @snow-colour-dark @ground-height, transparent @ground-height);
}




.stars {
    width: @max-width;
    position: absolute;
    height: 100%;
}


.star {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 2em;

    background-image: radial-gradient(ellipse 100% 10% at 50%, @star-colour 0%, transparent 50%),
                      radial-gradient(ellipse 10% 100% at 50%, @star-colour 0%, transparent 50%),
                      radial-gradient(ellipse 75% 100% at 50%, fadeout(@star-colour, 50%) 0%, transparent 35%);
}

